@font-face {
    font-family: Lato; 
    src: url(assets/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato-Bold; 
    src: url(assets/Lato-Bold.ttf);
}
@font-face {
    font-family: Lato-Black; 
    src: url(assets/Lato-Black.ttf);
}
html {
    font-family: "Lato", sans-serif;
}
body {width: 1020px;
    margin:0 auto;
   }
.wraper {
    width: 1020px;
    overflow: hidden; /*убрали белую полоску сверху*/
}
.get-a-quote {
    height: 648px;
    background-color: #f06c64;
    margin: 0px;
}

.get-a-quote__caption {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: 900;
    text-align: left;
    font-family: "Lato-Black";
    font-weight: 1500;
    padding-top: 68px;
    padding-left: 40px;
    margin: 0px;
    letter-spacing: -0.2px;
}
.get-a-quote__text { 
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    text-align:justify;
    padding-top: 26px;
    padding-left: 41px;
    margin: 0px;
    margin-bottom: 47px;
    letter-spacing: -0.36px;
}
.form-contact  {
    padding-left: 40px;
    padding-right: 40px;
   
    display: flex;
}
.form {
    display: flex;
}

input::-moz-placeholder { color:  #ff9696; }
input::-webkit-input-placeholder { color:  #ff9696; }
textarea::-moz-placeholder { color:  #ff9696; }
textarea::-webkit-input-placeholder { color:  #ff9696; }

.input__text {
    background-color: #d6564f;
    border-radius: 5px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding-left: 15px;
    width: 619px;
    height: 39px;
    border: 0;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.textarea__text_describe {
    height: 201px;
    vertical-align: text-top;
    padding-top: 7px;
    resize: none;
}
.input__submit {
    border-radius: 5px;
    height: 39px;
    align-self: flex-end;
    cursor: pointer;
    
}

.contact__caption {
    margin-top: 0px;
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.36px;
    margin-bottom: 0;
}

.contact__text {
    margin-top: 0;
    margin-bottom: 21px;
    padding-top: 10px;
    width: 300px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
   
    text-align:justify;
    letter-spacing: -0.1px;
}
.contact__a {
    text-decoration: none;
    font-size: 12px;
    line-height: 19px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    
 
}

.contact__img {
    margin-top: 0;
    position: relative;
    margin-right: 10px;
   
}



.form-contact__dottom {
    height: 6px;
    background-color: #ea676b;
}
.footer {
    overflow: hidden; /*убрали белую полоску сверху*/
    display: flex;
    justify-content: space-between;
    height: 76px;
    background-color: #2d303a;
    padding-left: 40px;
    padding-right: 40px;
}
.footer__text {
    margin-top: 29px;
    color: #767e9e;
    font-size: 12px;
    letter-spacing: -0.1px;
}
.footer__social-media {
    margin-top: 21px;
}
.footer__link {
    margin-left: 1px;
}