
  .header {
    height: 89px;
    background-color: #2d303a;
    color: white;
    position: fixed;
    z-index: 50;
    max-width: 1020px;
    width: 100%;

    @include media-heder-hlop-min{
       display: flex;
       justify-content: space-between;
    }
    display: block;
   
    align-items: center;
    
    padding-left: 40px;
    padding-right: 26px;
    @include media-mobile {
      padding-left: 30px;
      padding-right: 30px;
    }
    @include media-mobilesmall {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

.h1 {
  @include media-heder-hlop {
    text-align: center;
    margin-top: 29px;

   }
  
}
  
  .star {
    color: #f06c64;
  }
  
  .nav {
    position: relative;
    display: flex;
    flex-direction: row;

    @include media-heder-hlop {
     display: none;
    }

  }
  
  .disk {
    color: #4c4f62;
  }
  
  /*для синголо ДОМ*/
  .li-next {
    box-sizing: inherit;
    list-style-type: none;
    color: #ffffff;
    padding-right: 14px;
    padding-left: 14px;
  }
  
  .li-next:not(.active):hover {
    color: #f06c64;
    cursor: pointer;
  }
  
  .li-next.active {
    background-color: green;
    cursor: default;
  }




  .hamburg-active {
    transform: rotate(90deg);
    z-index: 15;
  }
  .h1-active {
    position: absolute;
    left: 71px;
    top: 36px;
    z-index: 5;
  }
  .nav-active {
    left: 0;

  }
  
  .hamburg {
  display: none;
  background-color: transparent;
  border: none;
  position: absolute;
  left: 20px;
  top: 26px;
}



.menu li:not(:first-child)::before {
  content: '.';
  position: relative;

}
.menu li a:hover {
  cursor: pointer;
  color: green;
  text-decoration: underline;
}
