.services-dottom {
  height: 6px;
  background-color: #ffffff;
}

.portfolio__dottom {
  height: 5px;
  background-color: #323746;
}

.slider-dottom {
  height: 6px;
  background-color: #ea676b;
}

.header-dottom {
  margin-top: 89px;
  @include media-heder-hlop {
    margin-top: 64px;
  }
  height: 6px;
 background-color: #323746;

}

